[credential]
    # for linux only
    helper = store
[alias]
    # for gerrit only
    pdm = push origin HEAD:refs/drafts/master
    pm = push origin HEAD:refs/for/master
    pd = push origin HEAD:refs/for/develop

[include]
    path = .gitconfig_common

# vim: sw=4 ts=4 et:
